<div class="bg"></div>
<div id="" class="jumbotron">
  <h1>Get User Testers</h1>
  <p class="lead">
    We find you testers that for your app
  </p>
  <!-- <p class="">
    $5 + $1/minute each tester
  </p> -->
  <p class="lead">
    Contact us for price
  </p>
  <p><a class="btn btn-lg btn-primary" ng-href="#">Contact Us</a></p>
</div>

<div class="row marketing">
  <h3>How it works: </h3>
  <br />

  <h4>1. Prototype your idea</h4>
  <p>
    Build out an MVP as quick as possible. It doesn't need to be perfect.
  </p>

  <h4>2. Holla at us</h4>
  <p>
    Once your prototype is ready, contact us and we will find you testers to try out your app! All testers are tech-savy and give great feedback.
  </p>

  <h4>3. Iterate</h4>
  <p>Gather all feedback from the user testing and improve on your prototype!</p>
</div>

<div class="row marketing">
  <h3>Why is user testing important? </h3>
  <br />

  <h4>1. Determine the market need</h4>
  <p>
    User testers aren't just testers; they are your target users! Talking to them to see if your idea is something they would use.
  </p>

  <h4>2. Improve your user experience</h4>
  <p>
    What seems obvious to developers may not be obvious to an ordinary user. User testing helps you build intuitive and awesome apps.
  </p>

  <h4>3. Market your app</h4>
  <p>
    User testers often become your first users. Take advantage of them!
  </p>
